<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cityu.group6.generator.test.dao.ArticleDao">

    <resultMap id="articleResultMap" type="org.cityu.group6.generator.test.entity.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="mdContent" property="mdContent" />
        <result column="htmlContent" property="htmlContent" />
        <result column="summary" property="summary" />
        <result column="cid" property="cid" />
        <result column="uid" property="uid" />
        <result column="publishDate" property="publishDate" />
        <result column="editTime" property="editTime" />
        <result column="state" property="state" />
        <result column="pageView" property="pageView" />

        
        
    </resultMap>

    <sql id="articleColumns">
        `article`.`id`,
        `article`.`title`,
        `article`.`mdContent`,
        `article`.`htmlContent`,
        `article`.`summary`,
        `article`.`cid`,
        `article`.`uid`,
        `article`.`publishDate`,
        `article`.`editTime`,
        `article`.`state`,
        `article`.`pageView`
    </sql>

    <sql id="articleJoins">
        
    </sql>

    <select id="get" resultMap="articleResultMap">
        SELECT
        <include refid="articleColumns" />
        FROM `article` <include refid="articleJoins" />
        <where>
            `article`.`id` = #{id}
        </where>
    </select>

    <select id="findAll" resultMap="articleResultMap">
        SELECT
        <include refid="articleColumns" />
        FROM `article` <include refid="articleJoins" />
        <where>
        </where>
    </select>

    <insert id="insert">
        INSERT INTO `article`(
            `id`,
            `title`,
            `mdContent`,
            `htmlContent`,
            `summary`,
            `cid`,
            `uid`,
            `publishDate`,
            `editTime`,
            `state`,
            `pageView`
        )
        VALUES (
            #{id},
            #{title},
            #{mdContent},
            #{htmlContent},
            #{summary},
            #{cid},
            #{uid},
            #{publishDate},
            #{editTime},
            #{state},
            #{pageView}
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO article(
            `id`,
            `title`,
            `mdContent`,
            `htmlContent`,
            `summary`,
            `cid`,
            `uid`,
            `publishDate`,
            `editTime`,
            `state`,
            `pageView`
        )
        VALUES
        <foreach collection ="list" item="article" separator =",">
        (
            #{article.id},
            #{article.title},
            #{article.mdContent},
            #{article.htmlContent},
            #{article.summary},
            #{article.cid},
            #{article.uid},
            #{article.publishDate},
            #{article.editTime},
            #{article.state},
            #{article.pageView}
        )
        </foreach>
    </insert>

    <update id="update">
        UPDATE `article` SET
        `id` = #{id},
        `title` = #{title},
        `mdContent` = #{mdContent},
        `htmlContent` = #{htmlContent},
        `summary` = #{summary},
        `cid` = #{cid},
        `uid` = #{uid},
        `publishDate` = #{publishDate},
        `editTime` = #{editTime},
        `state` = #{state},
        `pageView` = #{pageView}
        WHERE `id` = #{id}
    </update>

    <update id="delete">
        DELETE FROM `article`
        WHERE `id` = #{id}
    </update>

</mapper>